html#main {
    background-color: #0971CF;
    <!--#2680D0-->
    <!--#4D94D4-->
}
html#quiz {
    background-color: #FF1800;
    <!--#E91600-->
    <!--#B51100-->
}

html#popup {
    background-color: #00E400;
    <!--#00BA00-->
    <!--#009100-->
}

html#score {
    background-color: #FFF400;
    <!--#B5AD00-->
    <!--#E9DD00-->
}

nav#main {
    background-color: #2680D0;
    margin: 0;
    overflow: hidden;
}

nav#score {
    background-color: #E91600;
    margin: 0;
    overflow: hidden;
}

nav#quiz {
    background-color: #4D94D4;
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav >ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}