html#main {
    background-color: #008C8C;
    <!--#2680D0-->
    <!--#4D94D4-->
    align-content: center;
    text-align: center;
}
html#quiz {
    background-color: #B50000;
    <!--#E91600-->
    <!--#B51100-->
    text-align: center;
    align-content: center;
}

html#popup {
    background-color: #00E400;
    <!--#00BA00-->
    <!--#009100-->
}

html#score {
    background-color: #FFF400;
    <!--#B5AD00-->
    <!--#E9DD00-->
    align-content: center;
    text-align: center;
}

nav {
    align-content: center;
    text-align: center;
    font-size: 20px;
}

nav#main {
    background-color: #00C9C9;
    margin: auto;
    overflow: hidden;
}

div {
    margin-left: 44%;
    background: linear-gradient(#00C9C9, #07247A);
    height: 45px;
    width: 175px;

}

nav#score {
    background-color: #FFF750;
    margin: auto;
    overflow: hidden;
}

nav#quiz {
    background-color: #FF0000;
    margin: auto;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav >ul > li > a {
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

* {
Font-family: Papyrus, fantasy;
}

html#main button {
	background-color: #07247A;
	background: -webkit-linear-gradient(#00C9C9, #07247A);
	background: linear-gradient(#00C9C9, #07247A);
    box-shadow: 0 1px 0 #07247A, 0 5px 0 #07247A, 0 6px 6px rgba(0,0,0,0.6);
}

html#quiz button {
	background-color: #B50000;
	background: -webkit-linear-gradient(#FF0000, #B50000);
	background: linear-gradient(#FF0000, #B50000);
    box-shadow: 0 1px 0 #B50000, 0 5px 0 #B50000, 0 6px 6px rgba(0,0,0,0.6);
}

html#score button {
	background-color: #B5A500;
	background: -webkit-linear-gradient(#FFF750, #B5A500);
	background: linear-gradient(#FFF750, #B5A500);
    box-shadow: 0 1px 0 #B5A500, 0 5px 0 #B5A500, 0 6px 6px rgba(0,0,0,0.6);
}

button
{
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 20px auto;
	color: #ccc;
	/*background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);*/
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	/*box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);*/
	cursor: pointer;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

button:hover, button:focus
{
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}
	
@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

button:active
{
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}

.dead
{
	visibility: hidden;
}

a {
color: black;
}
