table {
    margin: auto;
    height: 400px;
    width: 400px;
}

td {
    height: 200px;
    width: 200px;
}



img {
    height: 200px;
    width: 200px;
}

html {
    align-content: center;
}

button {
    margin: none;
}

audio {
margin-left: 39%;
}